main {
  display: flex;
  justify-content: center;
  color: #555557;
}

#main-container {
  width: 45vw;
}

#main-container h1 {
  text-align: center;
}

#create-task {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  font-size: 0.8rem;
}

#create-task input {
  width: 100%;
  border: none;
  font-size: 0.9rem;
  height: 20px;
}

#desc-container {
  width: 100%;
  padding: 6px 0px 25px 11px;
}

#category-due-date-container {
  display: flex;
}

#category-container {
  border-right: 1px solid lightgray;
  width: 50%;
  padding: 6px 20px 25px;
}

#category {
  width: 100%;
  font-size: 1rem;
  border: none;
}

#due-date-container {
  padding: 6px 20px 25px;
  width: 50%;
}

#create-task > div {
  border-top: 1px solid lightgrey;
}

#buttons-container {
  display: flex;
  justify-content: center;
  padding: 25px 5.5px 25px 5.5px;
  border-top: 1px solid lightgrey;
  width: 100%;
}

#buttons-container button {
  padding: 15px;
  color: white;
  border: none;
  width: 144px;
  text-align: left;
  margin: 2px;
  cursor: pointer;
}

#add-task-btn {
  background-color: black;
}

#delete-tasks-btn {
  background-color: #EE351E;
}

#delete-tasks {
  padding: 0px 10px;
}

#task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
  padding: 15px;
  margin: 15px 0px;
}

.task-details {
  display: flex;
}

.task-details div {
  margin-left: 20px;
}

.task-details p {
  margin: 2px;
}

.check-box {
  transform: scale(1.6);
  margin-top: 8px;
}

.task {
  font-size: 1.1rem;
}

.date {
  font-size: 1rem;
  color: grey;
}

.Work {
  padding: 10px 18px;
  color: white;
  background-color: #F2A700;
}

.Personal {
  padding: 10px 18px;
  color: white;
  background-color: #ce240d;
}

.School {
  padding: 10px 18px;
  color: white;
  background-color: #0f0283;
}

.Cleaning {
  padding: 10px 18px;
  color: white;
  background-color: #83023e;
}

.Others {
  padding: 10px 18px;
  color: white;
  background-color: #2eaa1d;
}
